/*
--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight 
Default 400
Medium 500
Semi-bold 600
Bold 700

- Line height
Default: 1
small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px


MAIN COLOR: #087f5b
GREY COLOR: #343a40

--- 02 COLOUR
Brand color: #e67e22

Tints: #fdf2e9
Shades:
Accents:
Greys: #555 #333

--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem 2px rgba(0, 0, 0, 0.25);

--- 06 BORDER RADIUS
Default: 9px
small: 11px

--- 07 WHITE SPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*************************/
/*   GENERAL COMPONENT   */
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

strong {
  font-weight: 500;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.sub-heading {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
/*************************/
/*   REUSABLE COMPONENT  */
/*************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
}

.grid--two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid--three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid--four-columns {
  grid-template-columns: repeat(4, 1fr);
}

/*************************/
/*  NAVIGATION COMPONENT */
/*************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 4.8rem;
}

.logo {
  height: 2rem;
}

.header-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}

.header-nav-list li a {
  text-decoration: none;
  color: #555;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.3s;
  font-weight: 500;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: background-color 0.3s;
  background-color: #e67e22;
  color: #fff;
  display: inline-block;
}

.nav-cta:link,
.nav-cta:visited {
  background-color: #cf711f;
}

/*************************/
/*    HERO COMPONENT    */
/*************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;
}

.hero-summary {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  /* background-color: #fdf2e9; */
  /* box-shadow: inset 0 0 0 3px #fff; */
  color: #4d4d4d;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-meal {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 4.8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-size: 2.3rem;
  font-weight: 700;
  color: #cf711f;
}

/*************************/
/* FEATURED IN COMPONENT /
/*************************/

.section-featured {
  padding: 4.8rem 0;
}

.heading-featured-in {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.4rem;
  color: #cf711f;
}

.featured-in-logos {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.featured-in-logos img {
  height: 3.2rem;
  /* filter: grayscale(100); */
  /* opacity: 50%; */
}

/*************************/
/* HOW IT WORKS COMPONENT */
/*************************/

.section-how {
  padding: 9.6rem 0;
}

.section-how .container div {
  margin-bottom: 9.6rem;
  align-items: center;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before {
  content: '';
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.step-img {
  width: 37.5%;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 2.4rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

/*************************/
/*    MEALS COMPONENT    */
/*************************/

.section-meal {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem 2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.2s;
}

.meal:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.meal-img {
  width: 100%;
}

.meal-information {
  padding: 3.2rem 3.6rem 3.6rem 3.6rem;
}

.meal-tags {
  margin-bottom: 1.6rem;
  display: flex;
  gap: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100rem;
  font-weight: 500;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.meal-title {
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.diet-list h3 {
  font-size: 3.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.optional-diet-lists {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.check-icons {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.container.recipe-all {
  text-align: center;
}

.recipe-button {
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 9px;
  display: inline-block;
  margin-top: 6.4rem;
  transition: all 0.3s;
  cursor: pointer;
  align-items: center;
}

.recipe-button:hover,
.recipe-button:active {
  background-color: #cf711f;
}

/*************************/
/* TESTIMONIAL COMPONENT */
/*************************/

.section-testimonials {
  background-color: #fdf2e9;
  padding: 0 3.2rem;
}

.testimonial.grid.grid--two-columns {
  max-width: 120rem;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.testimonial-description {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  display: inline-block;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.testimonial-detail {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.customer-pic {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
  overflow: hidden;
}

.customer-testimonials {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.testimonials-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-items {
  overflow: hidden;
}

.gallery-items img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery img:hover,
.customer-pic:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*************************/
/*   PRICING  COMPONENT  */
/*************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-description {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  display: inline-block;
}

.pricing-card {
  padding: 3.2rem;
  box-shadow: 0 2.4rem 4.8rem 2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  transition: all 0.3s;
}

.pricing-card:hover {
  transform: scale(1.0125);
  cursor: pointer;
}

.plan-name {
  align-self: center;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.plan-name--starter {
  color: #fcc419;
}

.plan-name--complete {
  color: #40c057;
}

.plan-price {
  align-self: center;
  font-size: 2rem;
  font-weight: 500;
  color: #777;
}

.unit-price {
  align-self: center;
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
}

.unit-price strong {
  font-size: 5.2rem;
}

.plan-text {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.plan-text li {
  list-style: none;
  gap: 1.6rem;
  font-size: 1.6rem;
  color: #555;
}

.pricing-list-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #e67e22;
  margin-right: 1.8rem;
}

.pricing-button {
  display: block;
  background-color: #e67e22;
  font-size: 1.6rem;
  border-radius: 9px;
  border: none;
  padding: 1.6rem 3.2rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.pricing-button:hover {
  background-color: #cf711f;
}

.pricing-ps {
  display: block;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 6.4rem;
}

/*************************/
/*   FEATURE  COMPONENT  */
/*************************/

.feature {
  margin: 9.6rem 0;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.feature-icon {
  font-size: 4.8rem;
  font-weight: 600;
  padding: 1.3rem;
  border-radius: 50%;
}

.ban-icon {
  color: #f03e3e;
  background-color: #ffa8a8;
}

.nutrition-icon {
  color: #37b24d;
  background-color: #8ce99a;
}

.leaf-icon {
  color: #228be6;
  background-color: #74c0fc;
}

.pause-icon {
  color: #868e96;
  background-color: #dee2e6;
}

.feature-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.feature-description {
  font-size: 1.6rem;
  color: #777;
}

/*************************/
/*     CTA  COMPONENT    */
/*************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  height: 50rem;
  box-shadow: 0 2.4rem 4.8rem 2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 6.4rem;
  color: #2e1907;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      rgba(230, 142, 28, 0.25),
      rgba(233, 115, 19, 0.25)
    ),
    url('../img/eating.jpg');
  background-size: cover;
  background-position: center;
}

.cta-form input {
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 6px;
  border: none;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #868e96;
}

.email-box {
  margin-bottom: 3rem;
}

.cta-signup {
  border: none;
}

/*************************/
/*   FOOTER  COMPONENT  */
/*************************/

.section-footer {
  padding: 4.8rem;
  margin: 0 auto;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  justify-content: space-between;
}

.footer-heading {
  font-size: 2.4rem;
  font-weight: 500;
}

.logo-box {
  display: flex;
  flex-direction: column;
}

.footer .logo {
  align-self: flex-start;
}

.social-icon-box {
  margin-top: 2.4rem;
  display: flex;
  gap: 2rem;
}

.social-icon,
.social-icon:link,
.social-icon:visited {
  font-size: 3.2rem;
  color: #555;
  gap: 2rem;
}

.contact-info {
  margin-top: 2rem;
}
.contact-info li {
  list-style: none;
  font-size: 1.4rem;
  color: #777;
  line-height: 1.8;
}

.footer-link {
  margin-top: 2rem;
}

.footer-link li {
  list-style: none;
}

.footer-link li a {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.8;
  text-decoration: none;
}
